.app-button {
  padding: 8px 20px;
  background-color: var(--cl-primary);
  color: var(--cl-text-secondary);
  border: none;
  border-radius: 3px;
  font-size: 14px;

  &--simple {
    background-color: transparent;
    padding: 8px;
    color: inherit;
    font-size: 0;
    transition: color $animation;

    &:hover {
      color: var(--cl-primary);
    }
  }
}
