.promo-card {
  padding: 20px;
  border: 1px solid var(--cl-border-card);
  border-radius: 10px;

  &__top {
    margin-bottom: 20px;
    padding-right: 53px;
    padding-right: clamp(53px, calc(48px + 1.389vw), 68px);
    min-height: 48px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 48px;
  }

  &__title,
  &__value {
    font-size: 16px;
    line-height: 1.3;
  }

  &__expire,
  &__caption {
    color: var(--cl-text-third);
  }

  &__title {
    margin-bottom: 7px;
  }

  &__params {
    display: flex;
  }

  &__group {
    flex: 1 1 50%;
  }

  &__value {
    font-size: 16px;
    line-height: 1.3;
  }
}
