.header-menu {
  display: flex;
  justify-content: space-between;
  gap: 5px;

  &__lnk {
    padding-top: 5px;
    padding-bottom: 17px;
    display: block;
    white-space: nowrap;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color $animation;

    &:hover {
      border-bottom-color: var(--cl-primary);
    }
  }

  &--mobile {
    flex-direction: column;
    padding: 0;
    align-items: flex-start;

    .header-menu__lnk {
      padding-bottom: 5px;
    }
  }
}
