.header-menu {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 5px;

  &__lnk {
    padding-top: 5px;
    padding-bottom: 20px;
    display: block;
    white-space: nowrap;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color $animation;

    &:hover {
      border-bottom-color: var(--cl-primary);
    }
  }
}
