.number-input {
  display: flex;
  gap: 10px;

  &__control {
    width: 100%;
    min-width: 100px;
    outline: none;
    border: none;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  &__unit {
    display: inline-block;
  }
}
