:root {
  --cl-bg: #fff;
  --cl-tag: #f4f5f9;
  --cl-text: #363d47;
  --cl-text-secondary: #fff;
  --cl-text-five: #838383;
  --cl-primary: #f46031;
  --cl-border: #eaeaea;
  --cl-overlay: rgba(0, 0, 0, 0.3);
  --cl-crumb: #bababa;
}
