// This is file contains global styles

:root {
  font-size: 12px;
}

body {
  font-family: 'Golos Text', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  background-color: var(--cl-bg);
  color: var(--cl-text);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 clamp(20px, calc(6.67px + 3.704vw), 60px);
}

.lnk {
  transition: color $animation;
  &:hover {
    color: var(--cl-primary);
  }
}

.no-scroll {
  overflow: hidden;
}
