// This is file contains global styles

:root {
  font-size: 12px;
}

body {
  font-family: 'Golos Text', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  background-color: var(--cl-bg);
  color: var(--cl-text);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 clamp(20px, calc(6.67px + 3.704vw), 60px);
}

.lnk {
  transition: color $animation;
  &:hover {
    color: var(--cl-primary);
  }
}

.no-scroll {
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.title {
  font-size: clamp(22px, calc(18.67px + 0.926vw), 32px);
  font-weight: 500;
  margin-bottom: clamp(20px, calc(16.67px + 0.926vw), 30px);
}
}
