html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
input,
button,
textarea,
select,
address {
  font: inherit;
}

input {
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  color: inherit;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

fieldset {
  border: none;
}
