.footer-menu {
  padding: 20px 0;
  column-count: 4;
  column-gap: 75px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    break-inside: avoid;
    margin-bottom: clamp(34px, calc(42px - 0.56vw), 40px);
  }

  &__title,
  &__item {
    font-size: 16px;
    line-height: 1.3;
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 500;
  }

  &__submenu {
    color: var(--cl-text-five);
  }
}

.is-tablet .footer-menu {
  column-count: 3;
}

.is-mobile .footer-menu {
  column-count: 1;
  padding: 0;

  &__list:last-child {
    margin-bottom: 0;
  }
}
